In [153]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [154]:
dataframe = pd.read_csv("train.csv")
data = dataframe.copy()

In [155]:
dataframe

,ID,Brand,VehicleModel,ManufacturingYear,Type,rating,color,Duty,fuel,CylinderCount,type of gear,capacity,Odometer,#airbags,price
0,2624,NaN,I have the fastest model ever.. yes you got it...,2017,WOOW Sedan,0.0,NaN,I had to pay a substantial $1249 levy on my ne...,Gas,4.0,R,2.5,75492 KM,1008,21012
1,14392,I love TOYOTA,NaN,NaN,Minivan3,5.0,Metallic,-,Gas,4.0 cyl,R,2.4,220000 KM,-96,11917
2,9822,hyundai,H1,2009,MINIVAN,0.0,Metallic,1185$,Dies,4.0,R,2.5,TOTAL 50653 km,4 count,22433
3,17123,opel,Corsa,NaN,Hatchback,5.0,Jet Black,-,NaN,4.0,auto,0,230000 KM,0,5645
4,11133,subaru,I own Outback.,2007,Hatchback,4.0,Sapphire Blue,-,Gas,4.0,NaN,2.5,131000 KM,4,10976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7341,Chevrolet,ORLANDO,12years old,jeep,NaN,Gold,642$,Dies,0,gear,2,156802 kilo,4,16894
6996,5105,BMW,I own X5.,2114,WOOW Jeep,2.0,Pearl White,915$,Dies,6.0,AUTO,3,110715 km,0 bags,16621
6997,7223,toyota,NaN,12years old,sedan,0.0,NaN,781,Electric Hybrid,4.0,auto,2.5,314373 KM,12,392
6998,12184,toyota,Camry,2112,sedan,1.0,Metallic,781 pound,Gas,14.0,R,2.5,80000 km,12],17249
6999,17637,HYUNDAI is the best,Sonata,12years old,Sedan4,3.0,NaN,642,Gas,4.0 cyl,AUTO,0,131627,4,15035

In [156]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 7000 non-null   int64
 1   Brand              6294 non-null   object
 2   VehicleModel       6303 non-null   object
 3   ManufacturingYear  6305 non-null   object
 4   Type               6315 non-null   object
 5   rating             6310 non-null   float64
 6   color              4876 non-null   object
 7   Duty               7000 non-null   object
 8   fuel               6304 non-null   object
 9   CylinderCount      7000 non-null   object
 10  type of gear       6308 non-null   object
 11  capacity           7000 non-null   object
 12  Odometer           7000 non-null   object
 13  #airbags           7000 non-null   object
 14  price              7000 non-null   int64
dtypes: float64(1), int64(2), object(12)
memory usage: 820.4+ KB

In [157]:
dataframe.isna().sum()

ID                      0
Brand                 706
VehicleModel          697
ManufacturingYear     695
Type                  685
rating                690
color                2124
Duty                    0
fuel                  696
CylinderCount           0
type of gear          692
capacity                0
Odometer                0
#airbags                0
price                   0
dtype: int64

In [158]:
dataframe.describe()

                 ID       rating         price
count   7000.000000  6310.000000   7000.000000
mean    9022.128714     2.559588  14406.866429
std     5202.316292     1.905482  11747.617978
min        1.000000    -4.000000      3.000000
25%     4546.750000     1.000000   5018.000000
50%     9044.500000     2.000000  12544.000000
75%    13523.250000     4.000000  20071.000000
max    18013.000000    10.000000  49889.000000

WE need to extract some features !

In [159]:
dataframe['rating'].unique()

array([ 0.,  5.,  4., nan,  2.,  6.,  3.,  8.,  1.,  7., -1., -2., -3.,
        9., 10., -4.])

In [160]:
#convert the negative values to positive
def process_rating(dataframe):
    dataframe['rating'] = pd.to_numeric(data['rating'])
    dataframe['rating'] = dataframe['rating'].abs().astype('Int64')
    return dataframe

dataframe = process_rating(dataframe)
dataframe['rating'].unique()

<IntegerArray>
[0, 5, 4, <NA>, 2, 6, 3, 8, 1, 7, 9, 10]
Length: 12, dtype: Int64

In [161]:
dataframe['Brand'].unique()

array([nan, 'I love TOYOTA', 'hyundai', 'opel', 'subaru', 'VOLKSWAGEN',
       'FORD', 'Bmw', 'jaguar', 'I love HONDA', 'mercedes-benz',
       'I love FORD', 'honda', 'HYUNDAI', 'NISSAN', 'toyota',
       'volkswagen', 'lexus', 'ford', 'SSANGYONG', 'HONDA', 'Hyundai',
       'Toyota', 'BMW', 'MERCEDES-BENZ is the best',
       'I love MERCEDES-BENZ', 'SSANGYONG is the best', 'I love SUBARU',
       'ssangyong', 'TOYOTA is the best', 'nissan', 'kia', 'DAEWOO',
       'SUBARU is the best', 'TOYOTA', 'bmw', 'AUDI', 'CHEVROLET', 'jeep',
       'SUBARU', 'MERCEDES-BENZ', 'Mercedes-Benz', 'I love BMW', 'LEXUS',
       'I love HYUNDAI', 'NISSAN is the best', 'Opel', 'PORSCHE', 'MAZDA',
       'I love NISSAN', 'HYUNDAI is the best', 'chevrolet', 'mitsubishi',
       'I love KIA', 'Chevrolet', 'mazda', 'KIA', 'BMW is the best',
       'gmc', 'I love LEXUS', 'MITSUBISHI', 'I love MITSUBISHI', 'skoda',
       'Lexus', 'Volkswagen', 'SUZUKI', 'Ford', 'JEEP', 'OPEL', 'Honda',
       'I love VOLKSWAGEN', 'fiat', 'FORD is the best', 'PEUGEOT',
       'VOLKSWAGEN is the best', 'audi', 'Kia', 'I love DODGE', 'mini',
       'Mini', 'VAZ', 'Nissan', 'GAZ', 'Ssangyong', 'MINI is the best',
       'Cadillac', 'I love OPEL', 'FIAT is the best', 'Dodge', 'uaz',
       'seat', 'ROVER', 'I love CHEVROLET', 'HONDA is the best',
       'I love SUZUKI', 'OPEL is the best', 'Peugeot', 'I love MAZDA',
       'chrysler', 'Mitsubishi', 'AUDI is the best', 'SKODA',
       'LAND ROVER', 'KIA is the best', 'CHEVROLET is the best',
       'I love VAZ', 'CADILLAC', 'INFINITI is the best', 'I love PORSCHE',
       'LEXUS is the best', 'dodge', 'I love AUDI', 'Jeep', 'სხვა',
       'MITSUBISHI is the best', 'Porsche', 'alfa romeo', 'Subaru',
       'MAZDA is the best', 'I love SSANGYONG', 'Mazda', 'suzuki', 'FIAT',
       'daewoo', 'Audi', 'RENAULT', 'I love MINI', 'DODGE', 'greatwall',
       'Buick', 'porsche', 'JEEP is the best', 'VOLVO', 'LINCOLN',
       'Isuzu', 'DODGE is the best', 'I love FIAT', 'Scion', 'UAZ',
       'SUZUKI is the best', 'buick', 'RENAULT is the best', 'scion',
       'I love DAEWOO', 'JAGUAR is the best', 'Renault', 'lincoln',
       'I love VOLVO', 'Volvo', 'SCION', 'volvo', 'ROLLS-ROYCE', 'Daewoo',
       'DAEWOO is the best', 'Fiat', 'I love CITROEN', 'renault',
       'PONTIAC', 'acura', 'DAIHATSU', 'LAND ROVER is the best',
       'INFINITI', 'UAZ is the best', 'moskvich', 'GMC', 'land rover',
       'BUICK', 'I love JEEP', 'I love SKODA', 'MINI', 'vaz', 'Suzuki',
       'I love CADILLAC', 'infiniti', 'I love GAZ', 'JAGUAR', 'Mercury',
       'Maserati', 'citroen', 'I love LAND ROVER', 'peugeot',
       'DAIHATSU is the best', 'mercury', 'gaz', 'daihatsu', 'Jaguar'],
      dtype=object)

In [162]:
import re
def process_brand(dataframe): 
    def extract_brand(sentence):
        if not isinstance(sentence, str):
            return None
        
        patterns = [
            r"I love\s+(.*?)(?:\.|,|$)", 
            r"^(.*?)(?:\s+is the best)" 
        ]
        
        for pattern in patterns:
            match = re.search(pattern, sentence)
            if match:
                return match.group(1)  
        return sentence
    
    dataframe['Brand'] = dataframe['Brand'].apply(lambda x: extract_brand(x)).str.capitalize()
    
    return dataframe
dataframe = process_brand(dataframe)
dataframe['Brand'].unique()

array([None, 'Toyota', 'Hyundai', 'Opel', 'Subaru', 'Volkswagen', 'Ford',
       'Bmw', 'Jaguar', 'Honda', 'Mercedes-benz', 'Nissan', 'Lexus',
       'Ssangyong', 'Kia', 'Daewoo', 'Audi', 'Chevrolet', 'Jeep',
       'Porsche', 'Mazda', 'Mitsubishi', 'Gmc', 'Skoda', 'Suzuki', 'Fiat',
       'Peugeot', 'Dodge', 'Mini', 'Vaz', 'Gaz', 'Cadillac', 'Uaz',
       'Seat', 'Rover', 'Chrysler', 'Land rover', 'Infiniti', 'სხვა',
       'Alfa romeo', 'Renault', 'Greatwall', 'Buick', 'Volvo', 'Lincoln',
       'Isuzu', 'Scion', 'Rolls-royce', 'Citroen', 'Pontiac', 'Acura',
       'Daihatsu', 'Moskvich', 'Mercury', 'Maserati'], dtype=object)

In [163]:
littleSmall = dataframe[dataframe['VehicleModel'].str.len() > 10]
littleSmall['VehicleModel'].value_counts()

VehicleModel
I have the fastest model ever.. yes you got it right it's Sonata                68
I own Camry.                                                                    65
my model which is Prius is the best                                             61
my model which is Sonata is the best                                            58
I have the fastest model ever.. yes you got it right it's Prius                 58
                                                                                ..
I own Touareg.                                                                   1
my model which is S 500 is the best                                              1
my model which is XV LIMITED is the best                                         1
I have the fastest model ever.. yes you got it right it's CLK 200 Kompressor     1
I own X-type.                                                                    1
Name: count, Length: 881, dtype: int64

In [164]:
def process_vehicle_model(dataframe):
    def extract_model(sentence):
        if not isinstance(sentence, str):
            return None
        
        patterns = [
            r"\b(?:it's\s+)(\S.*)",          
            r"\bis\s+(.*?)\s+is\b",          
            r"\bI own\s+(.*)\b"              
        ]
        
        for pattern in patterns:
            match = re.search(pattern, sentence)
            if match:
                return match.group(1) or match.group(2) or match.group(3)
        return sentence
    
    dataframe['VehicleModel'] = (dataframe['VehicleModel'].apply(lambda x: extract_model(x)).astype(str).str.capitalize().replace(['None', 'nan'], np.nan))
    return dataframe
    
dataframe = process_vehicle_model(dataframe)

In [165]:
dataframe['VehicleModel'].value_counts()

VehicleModel
Prius                 378
Sonata                359
Camry                 313
Elantra               312
Fit                   164
                     ...
Omega c                 1
Tc                      1
Captur qm3 samsung      1
Combo 1700              1
X-type                  1
Name: count, Length: 770, dtype: int64

In [166]:
dataframe['ManufacturingYear'].unique()

array(['2017', nan, '2009', '2007', '3010', '1999', '2012', '2011',
       '2014', '2015', '2006', '2105', '2013,', '2010', '2017{',
       '1-1-2003', '2016', '1998', '2018', '2008', '2015+', '2012"',
       '2013', '2111', '1-1-2020', '2005', '2017*', '2004', '2016.',
       '2015#', '1910', '2017&', '1914', '1-1-2013', '3009', '2009&',
       '2018}', '14years old', '1-1-2014', '2001', '2015`', '2112',
       '1997', '2014@', '1917', '2014+', '2013*', '1-1-2011', '1-1-2008',
       '2012,', '2003', '1-1-2007', '15years old', '1916', '1-1-2012',
       '1912', '2010~', '2020', '2002>', '2110', '2005>', '2115',
       '1-1-2005', '2009%', '2019', '10years old', '1-1-2002', '2015@',
       '3013', '1907', '2010*', '2000', '1996_', '12years old', '2011;',
       '2017_', '13years old', '3014', '2017(', '2011,', '11years old',
       '7years old', '1-1-2010', '3004', '1996|', '1913', '2014|',
       '1-1-2016', '2016[', '1900', "2009'", '1902', '2117', '1-1-2009',
       '8years old', '2118', '1999[', '1995', '6years old', '2113',
       '3012', '2010!', '1915', '2002', '2016+', '2009,', '1-1-1998',
       '9years old', '2014(', '1911', '1-1-2000', '2017"', '2013@',
       '2014?', '1-1-2017', '21years old', '2010|', '2116', '2011%',
       '2098', '1-1-2001', '2007$', '2014/', '26years old', '1918',
       '2114', '3008', '2016?', '2006\\', '2011(', '3006', '2014`',
       '2001:', '1995/', '2006%', '2015*', '28years old', '2107', '2119',
       '1908', '2002=', '2011.', '24years old', '1-1-2015', '1-1-1992',
       '2008)', '2099', '20years old', '2013;', '1985', '1909', '3007',
       '2003@', '1-1-2004', '2016^', '2016:', "2003'", '2103', '2011-',
       '2014,', '2016/', '2014.', '2011?', '2015=', '23years old', '1905',
       '1996', "2011'", '33years old', '1983', '2019}', '2007?', '2008?',
       '2007[', '3011', '2013"', '2104', '2007"', '1998;', '2012&',
       '3015', '2013?', '2010>', '2014&', '2006!', '1995?', '1992',
       '2008|', '1904', '1993', '2008[', '2015~', '1-1-2006', '2013/',
       '2010=', '2003;', '1-1-2019', '2008@', '2015}', '2018_', '2013=',
       '2014\\', '2012_', '2013]', '2018#', "2010'", '17years old',
       '2010&', '2010`', '2000[', '2015|', '2005_', '1994%', '1988',
       '3017', '25years old', '1898', '2013+', '2012/', '2015)', '1992:',
       '2014$', '1903', '3018', '2998', '2012@', '1-1-2018', '2010@',
       '2015>', '2010^', '2013{', '2011{', '2012|', '1-1-1996', '2004$',
       '3016', '2008}', '1-1-1997', '2002|', '2010:', '2005=', '2000?',
       '2011`', '2012^', '19years old', '16years old', '2012~', '1982',
       '2014!', '2007(', '1996#', '2011~', '1994', '29years old', '2108',
       '1999<', '2005\\', '2005<', '2005]', '18years old', '2010(',
       '2012-', '2011<', '2007%', '2014}', '2011)', '2017)', '2010)',
       '2000"', '2016`', "1997'", '2012(', '2012+', '2008/', '2012!',
       "2017'", '2009-', '2009.', '2010+', '5years old', '2014]', '2106',
       '3003', '2010[', '1896', '2008%', '2015:', '1-1-1995', '2100',
       '2012{', '2016}', '1995\\', '2012=', '2007`', '2011_', '2012>',
       '2012:', '1997<', '1893', '2015!', '2016"', '1987', "2016'",
       '2017?', '1-1-1999', '2011+', '2010$', '2001,', '2019[', '2012]',
       '2011}', '1991', '2013|', '2003$', '22years old', '2001)', '1988[',
       '2014*', '2008_', '2120', '2019]', '2013\\', '2012.', '1990',
       '2014<', '2003_', '2000+', '2005:', '2016>', '2010}', '2009(',
       '2009)', '2000>', '2001~', '2005+', '2003&', '2017$', '2018|',
       '2002"', '2010.', '2017\\', '1995!', '2016&', '2017^', '2015^',
       '2000{', '2102', '2004{', '2004.', '2009}', '2017}', '3005',
       '2016_', '2005%', '2011|', '2097', '31years old', '1999\\',
       '2016)', '2015_', '1939', '2013&', '2015[', '2003=', "2008'",
       '2011\\', '2012%', '2008;', '2011#', '2012$', '2015\\', '2000|',
       '2011*', '2012[', '2004_', "2013'", '2013_', '2015.', '2016|',
       '2011"', '2015(', '1919', '1997`', '2014{', '2011^', '2008,',
       '2018:', '2001_', '2006-', '2014[', '1-1-1993', '2096', '2007&',
       '2007_', '2018^', '2016!', '2015,', '2016*', '2006}', '2101',
       '2016%', '2018&', '2019-', '2007|', '2014_', '2999', '2011$',
       '2013.', '2018{', '4years old', '2016<', '27years old', '1901',
       '2017[', '2015$', '2014^', '2002-', '2016\\', '2014-', '1-1-1994',
       '2007]', '2018,', '2012`', '2012\\', '1995{', '2006+', '2000~',
       '2006.', '2001@', '2018~', '2013!', '2012}', '3019', '2003{',
       '2007=', '2017=', '2018/', '71years old', '2013)', '3002', '2012?',
       '2008-', '2003"', '2011:', '2008&', '1995`', '2015%', '1986',
       '2015-', '2006#', '2017|', '2017/', '2001{', '2005$', '1999_',
       '2013#', '2012#', '2013$', '2013[', '2011[', '2014:', '1997=',
       '2009*', '2016#', '3000', '2018+', '2002@', '2014"', '2014#',
       '1995*', '2009/', '2109', "2019'", '2005`', '2007,', '2016-',
       "2015'", '2009;', '2008!', '40years old', '1997$', '1999"',
       '2010;', '1992]', '2002.', '1997~', '1920', '2009]', '2089',
       '1999|', '2009@', '2003\\', '2013(', '1999+', '2018*', '2013-',
       '2013%', '2008*', '2992', '2010#', '2018;', '1996^', '2012)',
       '2008>', '2015/', '2011&', "2002'", '2003<', '2016{', '3001',
       '2009|', '2000%', '2003#', '2018@', '2013>', '2017<', '1984',
       '2017.', '2012<', '2013~', '2017;', '2018-', '2001`', '1906',
       '2093', '1995.', "2006'", '2007}', "2012'", '2002$', '1978',
       '2008^', '2010{', '2004(', '2007!', "2018'", '2011=', '2016;',
       '2005;', '1998<', '2000-', '2005)', '2007*', '2010<', '2997',
       '2016@', '1895', '2008#', '1992$', '2015{', '2015]', '2003)',
       '2011]', '2019`', '2002\\', '1998)'], dtype=object)

In [167]:
def process_manufacturing_year(dataframe):
    def extract_year(sentence):
        match = re.search(r"\b\d{4}\b", sentence)
        if match:
            return int(match.group(0))

        match = re.search(r'(\d+)\s*years\s*old', sentence)
        if match:
            return 2024 - int(match.group(1))

        return None

    dataframe['ManufacturingYear'] = dataframe['ManufacturingYear'].astype(str)
    dataframe['ManufacturingYear'] = dataframe['ManufacturingYear'].map(extract_year)
    
    return dataframe

dataframe = process_manufacturing_year(dataframe)

In [168]:
data['ManufacturingYear'].value_counts()

ManufacturingYear
2012     429
2014     425
2013     398
2011     349
2010     317
        ...
2008|      1
2011*      1
2005>      1
2004_      1
1998)      1
Name: count, Length: 555, dtype: int64

In [169]:
dataframe['fuel'].unique()

array(['Gas', 'Dies', nan, 'Electric Hybrid', 'other', 'Natural Gas',
       'hyb', 'others'], dtype=object)

In [170]:
def process_fuel(dataframe):
    dataframe['fuel'] = dataframe['fuel'].replace(['others'], 'other')
    dataframe['fuel'] = dataframe['fuel'].replace(['Electric Hybrid', 'hyb'], 'Hybrid')
    return data
dataframe = process_fuel(dataframe)
dataframe['fuel'].unique()

array(['Gas', 'Dies', nan, 'Electric Hybrid', 'other', 'Natural Gas',
       'hyb', 'others'], dtype=object)

In [171]:
dataframe['Type'].unique()

array(['WOOW Sedan', 'Minivan3', 'MINIVAN', 'Hatchback', 'sedan', 'SEDAN',
       'Pickup3', 'jeep', 'Minivan', 'HATCHBACK', 'minivan', 'hatchback',
       'JEEP', 'microbus', nan, 'Jeep1', 'Sedan0', 'Coupe', 'Sedan3',
       'Hatchback3', 'Sedan', 'Jeep0', 'WOOW Hatchback', 'WOOW Jeep',
       'Hatchback1', 'WOOW Coupe', 'UNIVERSAL', 'Hatchback2', 'Jeep2',
       'Hatchback4', 'Sedan4', 'Sedan1', 'Jeep', 'WOOW Minivan', 'Jeep4',
       'Hatchback0', 'Goods Wagon', 'universal', 'WOOW Goods wagon',
       'MICROBUS', 'Minivan0', 'Coupe1', 'goods wagon', 'pickup', 'Jeep3',
       'Sedan2', 'coupe', 'Pickup1', 'COUPE', 'CABRIOLET', 'Universal0',
       'Microbus', 'WOOW Universal', 'Goods wagon1', 'WOOW Microbus',
       'Minivan2', 'GOODS WAGON', 'cabriolet', 'Goods wagon0', 'Coupe4',
       'Universal', 'Goods wagon2', 'Microbus4', 'Coupe3', 'Goods wagon4',
       'Limousine', 'PICKUP', 'Microbus0', 'Coupe0', 'Goods wagon3',
       'Universal3', 'Minivan1', 'Microbus3', 'Microbus1', 'Universal2',
       'Cabriolet1', 'limousine', 'Minivan4', 'Universal4', 'Coupe2',
       'Pickup', 'Pickup0'], dtype=object)

In [172]:
def process_type(dataframe):
    def extract_type(sentence):
        if not isinstance(sentence, str):
            return None
        
        match = re.search(r"\bWOOW\s+([a-zA-Z\s]+)", sentence, re.IGNORECASE)
        if match:
            return match.group(1).strip().title()
        
        match = re.search(r"^([a-zA-Z\s]+?)(?:\d+)?$", sentence, re.IGNORECASE)
        if match:
            return match.group(1).strip().title()
   
        return None

    dataframe['Type'] = dataframe['Type'].apply(extract_type)
    return dataframe

dataframe = process_type(dataframe)

In [173]:
dataframe['Type'].value_counts()

Type
Sedan          2907
Jeep           1706
Hatchback       989
Minivan         240
Coupe           153
Universal       107
Microbus        101
Goods Wagon      87
Pickup           14
Cabriolet         9
Limousine         2
Name: count, dtype: int64

In [174]:
dataframe['Duty'].unique()

array(['I had to pay a substantial $1249 levy on my new car purchase.',
       '-', '1185$', ..., '2909$',
       'The car levy amounted is 893 per vehicle.', '965'], dtype=object)

In [175]:
def process_duty(dataframe):
    def extract_duty(sentence):
        if not isinstance(sentence, str) or sentence.strip() in ['-', '', 'nan']:
            return 0 
        
        match = re.search(r"\d+", sentence)
        if match:
            return int(match.group(0))  
        
        return 0

    dataframe['Duty'] = dataframe['Duty'].astype(str).apply(extract_duty)
    return dataframe
dataframe = process_duty(dataframe)

In [176]:
dataframe['Duty'].value_counts()

Duty
0       2578
765      147
640      132
891      121
639      106
        ...
1413       1
682        1
9362       1
4283       1
965        1
Name: count, Length: 561, dtype: int64

In [177]:
dataframe['Odometer'].unique()

array(['75492 KM', '220000 KM', 'TOTAL 50653 km', ..., '156802  kilo',
       '314373 KM', '131627'], dtype=object)

In [178]:
dataframe['Odometer'].value_counts()

Odometer
0 km                79
0  kilo             52
0 KM                48
0                   30
TOTAL 0 km          30
                    ..
88900                1
16500                1
224643 KM            1
64274  kilometer     1
131627               1
Name: count, Length: 4964, dtype: int64

In [179]:
def process_odometer(dataframe):
    def extract_odometer(sentence):
        pattern = r"\d+" 
        match = re.search(pattern, sentence)
        if match:
            return match.group(0)
        return None

    dataframe['Odometer'] = dataframe['Odometer'].apply(extract_odometer)
    dataframe['Odometer'] = pd.to_numeric(dataframe['Odometer'])  
    return dataframe

dataframe = process_odometer(dataframe)

In [180]:
dataframe['Odometer'].value_counts()

Odometer
0         257
200000     63
150000     63
160000     42
100000     42
         ...
326612      1
41203       1
181727      1
224062      1
131627      1
Name: count, Length: 3511, dtype: int64

In [181]:
dataframe['capacity'].value_counts()

capacity
2            1261
2.5           765
0             714
1.8           609
1.6           503
             ...
0.8 Turbo       1
6.7             1
0.3             1
5.4 Turbo       1
0.5             1
Name: count, Length: 87, dtype: int64

In [182]:
def process_capacity_and_turbo(dataframe):
    dataframe['turbo'] = dataframe['capacity'].apply(lambda x: 1 if "Turbo" in str(x) else 0)
    dataframe['capacity'] = dataframe['capacity'].str.replace(" Turbo", "", regex=False).astype(float)
    return data

dataframe = process_capacity_and_turbo(dataframe)

In [183]:
dataframe['capacity'].unique()

array([2.5, 2.4, 0. , 2. , 5. , 3. , 1.3, 1.5, 1.6, 1.8, 3.5, 2.7, 3.3,
       1.7, 2.2, 4. , 1.4, 4.8, 1.2, 2.3, 4.7, 2.8, 3.2, 5.5, 6.2, 4.6,
       3.7, 1. , 1.9, 3.6, 4.4, 2.6, 0.6, 6.3, 3.8, 5.7, 4.5, 5.9, 0.3,
       4.2, 0.4, 0.1, 0.2, 0.8, 2.9, 6.7, 2.1, 0.7, 5.4, 3.4, 5.3, 4.3,
       0.9, 5.6, 5.2, 1.1, 0.5])

In [184]:
dataframe['CylinderCount'].unique()

array(['4.0', '4.0 cyl', '8.0', '8.0 cyl', '6.0 cyl', '6.0', '14.0', '0',
       '5.0', '16.0', '18.0', '3.0', '3.0 cyl', '15.0', '10.0', '11.0',
       '2.0 cyl', '5.0 cyl', '9.0', '10.0 cyl', '1.0', '12.0 cyl', '2.0',
       '16.0 cyl', '13.0', '1.0 cyl', '12.0', '7.0'], dtype=object)

In [185]:
def process_cylinder(dataframe):
    def extract_Cylinder(sentence):
        if sentence == '0':
            return None 
        pattern = r"\d+" 
        match = re.search(pattern, sentence)

        if match:
            return int(match.group(0))
        return None 

    dataframe['CylinderCount'] = dataframe['CylinderCount'].apply(extract_Cylinder).astype('Int64')
    return dataframe

dataframe = process_cylinder(dataframe)

In [186]:
dataframe['CylinderCount'].unique()

<IntegerArray>
[4, 8, 6, 14, <NA>, 5, 16, 18, 3, 15, 10, 11, 2, 9, 1, 12, 13, 7]
Length: 18, dtype: Int64

In [187]:
dataframe['type of gear'].unique()

array(['R', 'auto', nan, 'manual', 'others', 'MANUAL', 'AUTO', 'gear'],
      dtype=object)

In [188]:
def process_gear_type(dataframe):
    dataframe['type of gear'] = dataframe['type of gear'].str.capitalize()
    return dataframe
dataframe = process_gear_type(dataframe)

In [189]:
dataframe['type of gear'].unique()

array(['R', 'Auto', nan, 'Manual', 'Others', 'Gear'], dtype=object)

In [190]:
dataframe = dataframe.rename(columns={'#airbags': 'Air_bag'})

In [191]:
dataframe['Air_bag'].unique()

array(['1008', '-96', '4 count', '0  ', '4  ', '12', '6 count', '8', '4',
       '12,', '6~', '106', '6', '2', '8 bags', '12<', '0',
       'ONLY 10 AIRBAG', '12 count', 'ONLY 4 AIRBAG', '1012', '10',
       '12 bags', '4 bags', 'ONLY 8 AIRBAG', '5', '8 count',
       'ONLY 0 AIRBAG', '12/', 'ONLY 6 AIRBAG', '12)', '-100', '8=',
       'ONLY 12 AIRBAG', '12  ', '108', '4<', '-94', '12|', '6 bags',
       '2 count', '12`', '4]', '8$', '-88', '10 count', '6  ', '12>',
       '112', '6(', '11', '110', '4@', '4&', '0 count', '4{', '4#', '104',
       '1005', '12~', '4!', '2  ', '5 count', '16 bags', '6?', '1', '-92',
       '100', '1004', '9', '14', '4$', '4,', '12!', '8  ', '-90', '12&',
       '6/', '1 count', 'ONLY 2 AIRBAG', '0~', "8'", '2 bags', '4[',
       '10 bags', '8&', '0 bags', '12#', "4'", '2<', '0#', "0'", '13',
       '2(', '2*', '4"', '4(', '0-', '8:', '2,', '8@', 'ONLY 5 AIRBAG',
       '-98', '4_', '0"', '0[', '10  ', '7', '12}', '1002', '6"', '6_',
       '6:', '4;', '1000', '2:', '12$', '4`', '8(', '7  ', '12+', '10+',
       '0}', '12;', '4|', '16', '10^', '12@', '4:', '6{', '0^',
       'ONLY 9 AIRBAG', '8#', '105', '4+', '12_', '0|', '12.', '0)', '0;',
       '1010', '12]', 'ONLY 11 AIRBAG', '1007', "12'", '0>', '1<', '12%',
       '6=', '8[', '116', '9  ', '4=', '0,', '12(', '11 count', '0{',
       '14  ', '0_', '4-', '5 bags', '0%', '12:', '0(', '10_', '8}', '4.',
       '8/', '6*', '2{', '12{', '0.', '8-', '6-', '0]', '4>', '7(', '14;',
       '10%', '3', '10,', '1 bags', '10|', '10@', '5  ', '7 count', '4^',
       '102', '4/', '-99', '9]', '10&', 'ONLY 16 AIRBAG', '12=', '0*',
       '4~', '6)', '1  ', '3/', '12\\', '16 count', '6+', '12*', '1006',
       '0`', '10;', '10$', '8"', '0!', '6]', '2~', '8\\', '9 count',
       'ONLY 7 AIRBAG', '4}', '10-', '12"', '7|', '4?', '12?', '2|', '8.',
       '5\\', 'ONLY 1 AIRBAG', '16(', '2>', '2\\', '0+', '12-', '2-',
       '4*', '4\\', '1016', '0:', '8!', "7'", '4)', '0=', '12^', '14:',
       '8<', '2/', '3 bags', 'ONLY 3 AIRBAG', '6^', '2"', '2_', '1%',
       '1&', '16  ', '1~', '0@', '0$', '9[', '6&', '6<', '2$', '10[',
       '0/', '1_', '7 bags', '8;', '9 bags', '15  ', '101', '4%', '12[',
       '1{', "10'", '8]', '6%', '8~', '6.', '8%', '8`', '2[', '8,', '6;',
       '3:', '111', '0<', '2%', '3  ', '8*', '-97', '2=', '9?', '5]',
       '6,', '6}', '5,', '10#', '6@', '6\\', '6$', '2+', '10(', '11  ',
       '2;', '11[', '0?', '1]', '6`', "6'", '107', '8|', '8)', '11~',
       '9)', '15 count', '8>', '0&', '11$', '5!', '7.', '109', '6[',
       '10"', '11 bags', '5$', '-95'], dtype=object)

In [192]:
def process_bag(dataframe):
    def extract_bag(sentence):
        pattern = r"\d+" 
        match = re.search(pattern, sentence)

        if match:
            number = match.group(0)
            if int(number) <= 14:
                return int(number)
            else:
                return None 
        
        return None

    dataframe['Air_bag'] = dataframe['Air_bag'].astype(str).apply(extract_bag)
    return dataframe
    
dataframe = process_bag(dataframe)

In [193]:
dataframe['Air_bag'].unique()

array([nan,  4.,  0., 12.,  6.,  8.,  2., 10.,  5., 11.,  1.,  9., 14.,
       13.,  7.,  3.])

In [194]:
dataframe['Air_bag'].value_counts()

Air_bag
4.0     1870
12.0    1852
0.0      774
8.0      545
6.0      455
2.0      357
10.0     270
5.0       34
1.0       33
7.0       30
9.0       19
11.0      16
3.0       11
14.0       7
13.0       2
Name: count, dtype: int64

In [195]:
def drop_important_missing(dataframe):
    row_drop = data[
        (dataframe['Brand'].isna() & dataframe['VehicleModel'].isna() & dataframe['ManufacturingYear'].isna()) |
        (dataframe['Brand'].isna() & dataframe['VehicleModel'].isna()) |
        (dataframe['VehicleModel'].isna() & dataframe['ManufacturingYear'].isna()) |
        (dataframe['VehicleModel'].isna() & dataframe['Type'].isna())].index
    
    dataframe.drop(index=row_drop, inplace=True)
    
    return dataframe
    
dataframe = drop_important_missing(dataframe)

In [196]:
dataframe[dataframe['Brand'].isna() & data['VehicleModel'].notna()]

,ID,Brand,VehicleModel,ManufacturingYear,Type,rating,color,Duty,fuel,CylinderCount,type of gear,capacity,Odometer,Air_bag,price,turbo
0,2624,NaN,I have the fastest model ever.. yes you got it...,2017,Sedan,0.0,NaN,1249,Gas,4,R,2.5,75492,NaN,21012,0
6,605,NaN,I have the fastest model ever.. yes you got it...,1999,Sedan,2.0,Sapphire Blue,0,Gas,4,Manual,2.0,318406,6.0,6586,0
23,5580,NaN,I own Focus.,2015+,Hatchback,NaN,NaN,0,NaN,4,Manual,2.0,21000,10.0,18189,0
24,11866,NaN,my model which is Aqua is the best,"2012""",Hatchback,6.0,NaN,503,NaN,14,NaN,1.5,120800,4.0,23110,0
37,16042,NaN,I have the fastest model ever.. yes you got it...,2013,Sedan,3.0,Charcoal,0,Gas,4,Others,1.8,57956,8.0,29166,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941,7406,NaN,I own Fusion.,"2014,",Sedan,2.0,Charcoal,0,hyb,4,R,2.0,68700,8.0,27000,0
6950,8024,NaN,Elantra,10years old,Sedan,NaN,Metallic,528,Gas,14,Auto,0.0,140765,4.0,16480,0
6957,538,NaN,Camry,1-1-2013,Jeep,NaN,Jet Black,779,Electric Hybrid,<NA>,Auto,2.5,493571,12.0,392,0
6964,1708,NaN,Elantra,2013,Sedan,8.0,Metallic,0,Gas,4,Others,1.8,121029,12.0,3293,0
6972,1602,NaN,Focus SE,9years old,Hatchback,5.0,Metallic,765,NaN,14,Auto,2.0,85985,NaN,11917,0

In [197]:
dataframe[dataframe['Brand'].notna() & data['VehicleModel'].isna()]

,ID,Brand,VehicleModel,ManufacturingYear,Type,rating,color,Duty,fuel,CylinderCount,type of gear,capacity,Odometer,Air_bag,price,turbo
19,1084,lexus,NaN,2015,Jeep,2.0,NaN,603,Electric Hybrid,6,Others,3.5,143619,12.0,13956,0
36,14019,HONDA,NaN,2017*,Hatchback,0.0,Metallic,691,Gas,4,Gear,1.3,100940,4.0,20372,0
50,4898,DAEWOO,NaN,2009&,Sedan,3.0,Metallic,790,Gas,4,Others,1.6,91930,4.0,3763,0
110,2202,toyota,NaN,1997,Minivan,NaN,Metallic,4321,Gas,4,Auto,2.4,230000,2.0,3150,0
111,2061,MERCEDES-BENZ is the best,NaN,2016,Sedan,2.0,NaN,0,Gas,14,Others,2.0,50552,12.0,549,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954,12166,hyundai,NaN,2013,Sedan,3.0,Pearl White,751,Electric Hybrid,4,R,2.4,0,0.0,706,0
6956,3550,hyundai,NaN,2014,Sedan,0.0,NaN,639,other,4,Others,2.0,531500,4.0,6429,0
6980,12577,toyota,NaN,2012#,Hatchback,7.0,NaN,0,Electric Hybrid,<NA>,Auto,1.5,159000,2.0,14897,0
6993,13158,MITSUBISHI,NaN,1997,Jeep,5.0,NaN,0,Gas,4,Auto,3.5,120000,2.0,11604,0
6997,7223,toyota,NaN,12years old,Sedan,0.0,NaN,781,Electric Hybrid,4,Auto,2.5,314373,12.0,392,0

In [199]:
def fill_missing_brand(dataframe):
    brand_mapping = dataframe.dropna(subset=['Brand', 'VehicleModel']).set_index('VehicleModel')['Brand'].to_dict()
    
    dataframe['Brand'] = dataframe.apply(
        lambda row: brand_mapping.get(row['VehicleModel'], row['Brand'])
        if pd.isna(row['Brand']) else row['Brand'],
        axis=1)
    
    return dataframe
dataframe = fill_missing_brand(dataframe)
dataframe['Brand'].isna().sum()

163